.container {
  position: relative;
}

form {
  padding-bottom: 1rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  background-color: white;
  h2 {
    text-align: center;
    margin: 1rem;
  }
  .button-regular {
    width: 100%;
  }
}

@media (min-width: 768px) {
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  box-shadow: 0 0 0px 1000px white inset;
}

::ng-deep.mat-dialog-container {
  padding: 0px !important;
}
