<nav (window:resize)="onResize()">
  <span class="logo">DailyJourney</span>
  <span (click)="toggleMenuVisibility()" #toggleMenuButton class="toggle">
    <mat-icon class="bg-icon">{{ toggleButtonIcon }}</mat-icon>
  </span>
  <ul [ngStyle]="{ display: showMenu ? 'flex' : 'none' }" class="menu">
    <li class="item"><a (click)="openRegisterDialog()">Registrarse</a></li>
    <li class="item"><a (click)="openLoginDialog()">Acceder</a></li>
    <li class="item">
      <a href="" class="with-icon"><mat-icon>search</mat-icon> <span>Buscar Viaje</span> </a>
    </li>
    <li class="item">
      <a href="" class="with-icon"
        ><mat-icon>add_circle_outline</mat-icon> <span>Nuevo Viaje</span></a
      >
    </li>
  </ul>
</nav>
