nav {
  background-color: white;
  color: var(--primary);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;
  box-shadow: 0 2px 2px -2px var(--primary-lighter-color);

  li > a {
    cursor: pointer;
  }

  button {
    border: none;
    background: none;
    font-size: inherit;
    color: inherit;
    &:hover {
      cursor: pointer;
      color: var(--accent-lighter-color);
    }
  }
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--accent);
}

.toggle {
  order: 1;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 30vh;
  width: 100%;
  order: 3;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 700;

  &:hover {
    color: var(--accent-lighter-color);
  }
}

.bg-icon {
  font-size: 2rem;
}

.non-visible-menu {
  display: none;
}

.with-icon {
  display: flex;
  align-items: center;
  span {
    margin-left: 1px;
  }
}
.avatar {
  margin-right: 0.2rem;
  background: white;
  border-radius: 50%;
  > img {
    vertical-align: middle;
    width: 30px;
    height: 30px;
  }
}

@media (min-width: 768px) {
  mav {
    padding: 1rem 2rem;
  }
  .toggle {
    display: none;
  }

  .item {
    display: block;
    width: fit-content;
  }

  ul {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    li {
      margin-right: 1rem;
    }
  }

  .logo {
    font-size: 1.5rem;
    font-weight: 700;
  }
}
