<nav (window:resize)="onResize()">
  <a routerLink="home" class="logo">DailyJourney</a>
  <span (click)="toggleMenuVisibility()" #toggleMenuButton class="toggle">
    <mat-icon class="bg-icon">{{ toggleButtonIcon }}</mat-icon>
  </span>
  <ul [ngStyle]="{ display: showMenu ? 'flex' : 'none' }" class="menu">
    <li *ngIf="!(currentUser | async)" class="item">
      <a (click)="openRegisterDialog()">Registrarse</a>
    </li>
    <li *ngIf="!(currentUser | async)" class="item">
      <a (click)="openLoginDialog()">Acceder</a>
    </li>
    <li class="item">
      <a routerLink="search-results" class="with-icon"
        ><mat-icon>search</mat-icon> <span>Buscar Viaje</span>
      </a>
    </li>
    <li class="item">
      <a routerLink="add-travel" class="with-icon"
        ><mat-icon>add_circle_outline</mat-icon> <span>Nuevo Viaje</span></a
      >
    </li>
    <li class="item" *ngIf="currentUser | async">
      <button [matMenuTriggerFor]="menu" class="with-icon">
        <mat-icon>account_circle</mat-icon><span>{{ (currentUser | async).name }}</span>
      </button>
    </li>
    <mat-menu #menu="matMenu">
      <button (click)="onClickLogout()" mat-menu-item>Salir</button>
    </mat-menu>
  </ul>
</nav>
