<div class="container">
  <h2>Mensajes</h2>
  <div class="messages">
    <div class="message">
      <div class="message-info">
        <span class="user-name">Ernesto Gimeno</span><span class="time-ago">Hace 7 minutos</span>
      </div>
      <div class="message-content">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero, sequi numquam iusto, ipsam
        voluptas officia officiis ducimus dolor placeat rem dolorem illum totam facilis praesentium
        voluptatum quisquam delectus accusantium quae.
      </div>
    </div>
  </div>
  <div class="add-message">
    <mat-form-field class="input-add-message" appearance="outline">
      <mat-label>Añade tu comentario</mat-label>
      <input matInput />
      <mat-icon matSuffix>chat</mat-icon>
    </mat-form-field>
  </div>
</div>
