.container {
  padding-top: 1rem;
  .right-side {
    display: none;
  }
}

@media (min-width: 768px) {
  .container {
    display: flex;
    > div {
      flex-basis: 100%;
    }
    .right-side {
      display: block;
    }
  }
}
