table {
  border-bottom: 1px solid #e5e7eb;
  border-radius: 2rem;
  border-collapse: collapse;
  box-shadow: var(--box-shadow);
  width: 100%;
  text-indent: 0;
  border-color: inherit;
  background-color: white;
  thead {
    background-color: rgba(243, 244, 246, 1);
    color: var(--primary);
    vertical-align: middle;
    th {
      letter-spacing: 0.05em;
      color: rgba(107, 114, 128, 1);
      text-align: left;
      padding-left: 1rem;
      padding-right: 1rem;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      font-size: 0.6rem;
      line-height: 0.7rem;
      font-weight: 400;
    }
  }
  tbody {
    border-color: rgba(229, 231, 235, 1);
    background-color: rgba(255, 255, 255, 1);
    vertical-align: middle;
    td {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      font-size: 0.7rem;
      border-bottom: 1px solid rgba(229, 231, 235, 1);
    }
  }
}

.status-approved,
.status-pending,
.status-rejected {
  padding: 0.2rem 0.4rem;
  display: inline-block;
  line-height: 1.25rem;
  font-size: 0.75rem;
  font-weight: 600;
  border-radius: 9999px;
}

.status-pending {
  color: rgb(60, 73, 12);
  background-color: rgb(217, 224, 147, 1);
}

.status-approved {
  background-color: rgba(209, 250, 229, 1);
  color: rgba(6, 95, 70, 1);
}

.status-rejected {
  background-color: rgb(218, 127, 115);
  color: rgb(92, 36, 11);
}

.actions {
  span:first-child {
    margin-right: 1rem;
  }
  .button-approve,
  .button-reject {
    font-size: 0.4rem;
    color: white;
    border-radius: 50%;
    padding: 0.3rem;
    margin-bottom: 0.3rem;
    transition: all 0.5s;
    margin-right: 0.7rem;
  }

  .button-approve {
    background-color: var(--success);
    &:hover {
      background-color: var(--success-lighter-color);
    }
  }

  .button-reject {
    background-color: var(--warn);
    &:hover {
      background-color: var(--warn-lighter-color);
    }
  }
}

@media (min-width: 768px) {
  table {
    thead {
      th {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        font-size: 1rem;
        line-height: 1.1rem;
        font-weight: 500;
      }
    }
    tbody {
      td {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-size: 1rem;
      }
    }
  }
  .status-approved,
  .status-pending,
  .status-rejected {
    padding: 0.2rem 0.4rem;
    display: inline-block;
    line-height: 1.25rem;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 9999px;
  }

  .status-pending {
    color: rgb(60, 73, 12);
    background-color: rgb(217, 224, 147, 1);
  }

  .status-approved {
    background-color: rgba(209, 250, 229, 1);
    color: rgba(6, 95, 70, 1);
  }

  .status-rejected {
    background-color: rgb(218, 127, 115);
    color: rgb(92, 36, 11);
  }

  .actions {
    span:first-child {
      margin-right: 1rem;
    }
    .button-approve,
    .button-reject {
      color: white;
      border-radius: 50%;
      padding: 0.5rem;
      transition: all 0.5s;
      margin-right: 0.7rem;
    }

    .button-approve {
      background-color: var(--success);
      &:hover {
        background-color: var(--success-lighter-color);
      }
    }

    .button-reject {
      background-color: var(--warn);
      &:hover {
        background-color: var(--warn-lighter-color);
      }
    }
  }
}
