<div *ngIf="participants.length; else noParticipantsYet" class="container">
  <table>
    <thead>
      <tr>
        <th scope="col">USUARIO</th>
        <th scope="col">ESTADO</th>
        <th scope="col">ACCIONES</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let participant of participants">
        <td>
          <div class="user">
            <div class="avatar"><img [src]="participant.avatar" alt="" /></div>
            <div>
              {{ participant.user_name }}
            </div>
          </div>
        </td>
        <td>
          <span [ngClass]="participantStatusTranslation[participant.status].class">{{
            participantStatusTranslation[participant.status].label
          }}</span>
        </td>
        <td class="actions">
          <span>
            <button (click)="approveParticipant(participant.id)" class="button-approve">
              <mat-icon>thumb_up_alt</mat-icon>
            </button></span
          >
          <span
            ><button (click)="rejectParticipant(participant.id)" class="button-reject">
              <mat-icon>thumb_down_alt</mat-icon>
            </button></span
          >
        </td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #noParticipantsYet><h3 class="no-participants">Sin viajeros</h3></ng-template>
