<div class="container">
  <section class="description">
    <h3>Perfil</h3>
    <p>Actualiza tu password. Tendrás que volverte a loguear!</p>
  </section>
  <mat-divider class="divider"></mat-divider>
  <form (ngSubmit)="onSubmit()" [formGroup]="changePasswordForm">
    <mat-form-field class="input" appearance="outline">
      <mat-label>Password</mat-label>
      <input type="text" matInput [type]="hide ? 'password' : 'text'" formControlName="password" />
      <mat-icon matSuffix (click)="hide = !hide">{{
        hide ? 'visibility_off' : 'visibility'
      }}</mat-icon>
      <mat-error *ngIf="changePasswordForm.controls['password'].hasError('required')"
        >Password requerido</mat-error
      >
    </mat-form-field>
    <mat-form-field appearance="outline" class="input">
      <mat-label>Confirmación de password</mat-label>
      <input
        type="text"
        matInput
        [type]="hide ? 'password' : 'text'"
        formControlName="passwordConfirmation"
      />
      <mat-icon matSuffix (click)="hide = !hide">{{
        hide ? 'visibility_off' : 'visibility'
      }}</mat-icon>
      <mat-error *ngIf="changePasswordForm.controls['password'].hasError('required')">
        Password requerido
      </mat-error>
      <mat-error *ngIf="changePasswordForm.controls['password'].hasError('minlength')">
        Este campo debe contener mínimo 5 carácteres
      </mat-error>
      <mat-error *ngIf="changePasswordForm.controls['passwordConfirmation'].hasError('mustMatch')">
        Los passwords deben coincidir
      </mat-error>
    </mat-form-field>
    <div>
      <button type="submit" [disabled]="changePasswordForm.invalid" class="button-regular">
        Actualizar
      </button>
      <button mat-dialog-close class="cross-cancel-button" type="button">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </form>
</div>
