<div class="container" *ngIf="travel$ | async as travel">
  <section class="main-info">
    <div class="name">{{ travel.owner.name }}</div>
    <div *ngIf="travel.owner.avatar" class="avatar">
      <img [src]="travel.owner.avatar" [alt]="travel.owner.avatar" />
    </div>
    <div class="departure-time">
      <mat-icon>schedule</mat-icon>{{ travel.departure_time | date: 'shortTime' }}
    </div>
    <div class="periodicity">
      {{ travel.periodicity }}
    </div>
    <div class="capacity-info">
      <span
        ><mat-icon>supervisor_account</mat-icon>{{ travel.participants.length }}/{{
          travel.capacity
        }}</span
      >
    </div>
  </section>
  <section class="travel-axis">
    <mat-icon>place</mat-icon>
    <div class="arrow">
      <div class="line"></div>
      <div class="end"></div>
    </div>
    <mat-icon>directions_car</mat-icon>
    <div class="origin-address">
      {{ travel.origin.address }}
    </div>
    <div class="destination-address">
      {{ travel.destination.address }}
    </div>
  </section>
  <section class="owner-comment">
    <h2>Comentario del conductor</h2>
    <p>{{ travel.owner_comment }}</p>
  </section>
  <div class="row">
    <section class="chat">
      <app-chat [travelID]="travel.id"></app-chat>
    </section>
    <section class="participants">
      <div *ngIf="isOwner(travel.owner.id); else regularUser" class="owner">
        <app-participants
          (fetchDataFromServer)="fetchDataFromServer.emit()"
          [participants]="travel.participants"
        ></app-participants>
      </div>
      <ng-template #regularUser>
        <div class="participant">
          <button
            *ngIf="
              !isUserRegisteredToTravel(travel.participants);
              else userAlreadyRegisteredToTravel
            "
            (click)="onRegisterToTravelClick(travel.id)"
            class="button-regular"
          >
            Apúntame al viaje
          </button>
          <ng-template #userAlreadyRegisteredToTravel
            ><button (click)="onDeleteRegisterFromTravelClick(travel)" class="button-regular">
              Cancelar registro
            </button></ng-template
          >
        </div>
      </ng-template>
    </section>
  </div>
</div>
