<div class="container" *ngIf="travel$ | async as travel">
  <section class="main-info">
    <div class="user-info">
      <p class="name">{{ travel.owner.name }}</p>
      <div *ngIf="travel.owner.avatar" class="avatar">
        <img [src]="travel.owner.avatar" [alt]="travel.owner.avatar" />
      </div>
    </div>
    <div class="travel-info">
      <div class="departure-time">
        <mat-icon>schedule</mat-icon>{{ travel.departure_time | date: 'shortTime' }}
      </div>
      <div class="periodicity">
        {{ travel.periodicity }}
      </div>
      <div class="capacity-info">
        <span
          ><mat-icon>supervisor_account</mat-icon
          >{{ getApprovedParticipants(travel.participants) }}/{{ travel.capacity }}</span
        >
      </div>
    </div>
  </section>
  <section *ngIf="isOwner(travel.owner.id)" class="owner-actions">
    <button (click)="handleDeleteTravel(travel.id)" class="button-warning">Eliminar viaje</button>
    <button (click)="handleEditTravel(travel.id)" class="button-regular">Editar viaje</button>
  </section>
  <section class="travel-axis">
    <mat-icon class="place-icon">place</mat-icon>
    <div class="arrow">
      <div class="line"></div>
      <div class="end"></div>
    </div>
    <mat-icon class="car-icon">directions_car</mat-icon>
    <div *ngIf="userOrigin" class="origin-distance" matTooltip="Distancia desde tu lugar de origen">
      {{ calculateDistance(userOrigin, travel.origin) / 1000 }} km
    </div>
    <div class="origin-address"><span></span>{{ travel.origin.address }}</div>
    <div
      *ngIf="userDestination"
      class="destination-distance"
      matTooltip="Distancia desde tu lugar de destino"
    >
      {{ calculateDistance(userDestination, travel.destination) / 1000 }} km
    </div>
    <div class="destination-address"><span></span>{{ travel.destination.address }}</div>
  </section>
  <section class="owner-comment">
    <h3>Comentario del conductor</h3>
    <p>{{ travel.owner_comment }}</p>
  </section>
  <div class="row">
    <section class="chat">
      <app-chat [travelID]="travel.id"></app-chat>
    </section>
    <section class="participants">
      <div *ngIf="isOwner(travel.owner.id); else regularUser" class="owner">
        <app-participants
          (fetchDataFromServer)="fetchDataFromServer.emit()"
          [participants]="travel.participants"
        ></app-participants>
      </div>
      <ng-template #regularUser>
        <div class="participant">
          <button
            *ngIf="!userTravelStatus(travel.participants); else userAlreadyRegisteredToTravel"
            (click)="onRegisterToTravelClick(travel.id)"
            class="button-regular"
          >
            Apúntame al viaje
          </button>
          <ng-template #userAlreadyRegisteredToTravel
            ><div class="status">
              {{ statusTranslations[userTravelStatus(travel.participants)] }}
            </div>
            <button (click)="onDeleteRegisterFromTravelClick(travel)" class="button-regular">
              Cancelar registro
            </button></ng-template
          >
        </div>
      </ng-template>
    </section>
  </div>
</div>
