@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;1,400&display=swap');
@import './theming.scss';

/* You can add global styles to this file, and also import other style files */

//css global variables
:root {
  --primary: #002a4d;
  --accent: #ff6430;
  --warn: #ff0000;
  --grey-background: #f5f7fd;
}

/* Reset */
html,
body {
  height: 100%;
  font-size: 100%;
  margin: 0;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

// body settings

body {
  font-family: 'Montserrat', sans-serif;
  color: var(--primary);
  background-color: var(--grey-background);
}

// common elements

a {
  text-decoration: none;
}

a,
button {
  font-family: inherit;
  &:hover {
    cursor: pointer;
  }
  &:focus {
    outline: transparent;
  }
}

button {
  border: none;
}

.button-regular {
  background-color: var(--accent);
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 100px;
  padding: 1rem 2rem;
  border: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  &:hover {
    background-color: var(--accent-lighter-color);
  }
  &:disabled,
  [disabled] {
    background-color: var(--accent-lighter-color);
    cursor: not-allowed;
  }
}

// cancel button as cross icon for modals

.cross-cancel-button {
  position: absolute;
  top: 3%;
  left: 90%;
  cursor: pointer;
  border: none;
  background: none;
}

// snackbar material styles
.success {
  background: rgb(66, 167, 66) !important;
  color: white !important;
  font-weight: bold;
  text-align: center;
}

.accent {
  background-color: var(--accent) !important;
  color: white !important;
  font-weight: bold;
}

.warn {
  background-color: #ff0000 !important;
  color: white !important;
  font-weight: bold;
}
