@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;1,400&display=swap');
@import './theming.scss';
/* You can add global styles to this file, and also import other style files */

//css global variables
:root {
  --primary: #002a4d;
  --accent: #ff6430;
  --warn: #ff0000;
  --grey-background: #f5f7fd;
}

/* Reset */
html,
body {
  height: 100%;
  font-size: 100%;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  color: var(--primary);
  background-color: var(--grey-background);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

a,
button {
  &:hover {
    cursor: pointer;
  }
  // &:focus {
  //   outline: 0;
  // }
}

.button-regular {
  background-color: var(--accent);
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 100px;
  padding: 1rem 2rem;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
  &:hover {
    background-color: var(--accent-lighter-color);
  }
}

.cross-cancel-button {
  position: absolute;
  top: 0%;
  left: 100%;
  cursor: pointer;
  border: none;
  background: none;
}
